*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
/*body{
    margin: 0 auto;
    width:70%;
    
}*/
.slider{
    overflow: hidden;
    height: auto;
width: inherit;
    }
.slider  figure div {
    float: left;
    width: 20%;
}
.slider figure img{
    width: 100%;
    float: left;
}
.slider figure{
    position: relative;
    width: 500%;
    margin: 0px;
    left: =0;
    animation:30s dipak infinite;
}
@keyframes dipak{
    0%{
     right: 0%;   
    }
    10%{
        right: 0%;
    }
    12%{
     left: -100%;   
    }
    22%{
             left: -100%;
    }
    24%{
             left: -200%;
    }
    34%{
             left: -200%;
    }
    36%{
             left: -300%;
    }
    46%{
             left: -300%;
    }
    48%{
             left: -400%;
    }
    58%{
             left: -400%;
    }
    60%{
             left: -300%;
    }
    70%{
             left: -300%;
    }
    72%{
             left: -200%;
    }
    82%{
             left: -200%;
    }
    84%{
             left: -100%;
    }
    94%{
         left: -100%;    
    }
    96%{
             left: 0%;
    }
}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}